body {
    background-image: url(../../images/bg-top.svg), url(../../images/bg-bottom.svg);
    background-position: 100% 0%, 0% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 5rem 0rem 3rem 0rem;
}