.container {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 23.5rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0rem 0rem .2rem $selected-card-font-clr;
    text-align: center;
    color: $primary-font-clr;

    &__2 {
        position: relative;
        height: 34rem;
        bottom: 2rem;
        background-image: $primary-gradient-toTop;
        color: white;
        z-index: -1;

        & .card__title, & .card__price {
            color: white;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        color: $pricing-font-clr;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    &__price {
        font-size: 4rem;
        color: $pricing-font-clr;
    }

    &__list {
        list-style-type: none;
        padding: 0;

        &--items {
            border-top: 1px solid $selected-card-font-clr;
            padding: 1rem 0rem;
            font-size: 1rem;
            width: 18rem;

            &:last-child {
                border-bottom: 1px solid $selected-card-font-clr;
                margin-bottom: 1.5rem;
            }
        }
    }
    
    
}