/*Colors*/

$primary-gradient: linear-gradient(to right,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$primary-gradient-toTop: linear-gradient(to bottom,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$primary-font-clr: hsl(233, 13%, 49%);
$selected-card-font-clr: hsl(234, 14%, 74%);
$pricing-font-clr: hsl(232, 13%, 33%);


